@media only screen and (max-width: 1235px) {
.mobile-btn {
  right: -10px;
}
}

@media only screen and (max-width: 644px) {
.btn-linkedin {
  margin-left: 0;
}
}

@media only screen and (max-width: 500px) {
.box {
  display: none;
}
.box-mobi {
  display: block;
}
.btn-port {
  top: -100px;
}
.btn-port a{
  width: 140px;
  padding: 10px 0;
}
.blockquote p {
  width: 100%;
  padding-top: 20px;
}
.nav.mobile-menu {
  top: 66px;
}
}