/* RESET BASICO */
body, h1, h2, p, ul, li, a, span {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "roboto", arial, sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%
}
* {
	box-sizing: border-box;
}

/* HEADER */
.header {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	padding: 30px 10px;
}
.logo {
	margin-right: 100px;
}
.info-header {
	display: flex;
}
.info-header p{
	margin-right: 40px;
}
.info-header p, .info-header a {
  font-size: 14px;
  color: #444444;
}
.sair, .fone {
  display: flex;
}
.fone img, .sair img {
  margin-right: 5px;
}
.info-header-2 {
	display: flex;
	flex:1;
	justify-content: flex-end;
}
.info-header-2 p, .info-header-2 a {
  font-size: 14px;
  color: #444444;
}
.info-header-2 a:nth-child(1){
	margin-right: 100px;
}

/* BARRA DE PESQUISA */
select {
  -webkit-appearance: none;
}
.barra-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.barra-pesquisa {
  background: #fff;
  padding: 20px 0;
  position: sticky;
  z-index: 10;
  top: 0;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.05);
}
.select {
  display: flex;
  width: 50%;
}
.btn {
  font-size: 14px;
  color: #7e7e7e;
  width: 50%;
  border: 1px solid #e4e4e4;
  margin-right: 10px;
  padding: 15px 0 15px 20px;
  border-radius: 100px;
  background: url("../img/seta-pesquisa.png") no-repeat;
  background-position: 95%;
}
.btn-procura {
  display: flex;
  width: 50%;
  font-size: 14px;
  color: #7e7e7e;
  border: 1px solid #e4e4e4;
  padding: 13px 0 13px 20px;
  margin-left: 100px;
  border-radius: 100px;
}
.btn-procura input {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #7e7e7e;
  width: 100%;
  border: none;
  outline: none;
}
.btn-procura button {
  border: none;
  background: none;
  padding-right: 20px;
}

/* INTRODUÇÃO */
.intro {
  background: #fbfbfb;
  padding: 60px 0;
}
.intro-fundo {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.05);
}
.card-1 {
  width: 80%;
  align-items: center;
  display: flex;
  margin-right: 20px;
}
.data-evento {
  margin: 50px 20px 0 0;
}
.local {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.local span {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #5f6368;
  margin: 20px 0
}
.local span img {
  margin-right: 5px;
}
.card-2 h1 {
  font-weight: 400;
  font-size: 24px;
  color: #202124;
  text-transform: uppercase;
  margin-top: 50px;
}
.card-2 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #5f6368;
  padding: 0 80px 20px 0
}
.data-1 span {
  font-size: 36px;
  color: #202124;
}
.data-1 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #5f6368;
}
.data-1 {
  border: 1px solid #a9a9af;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  width: 85px;
  height: 80px;
  text-align: center;
  padding-top: 10px;
}
.data-2 {
  border: 1px solid #a9a9af;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background: #3582fb;
  width: 85px;
  height: 25px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding-top: 3px;
}
.btn-2 {
  border:1px solid #efefef;
  border: none;
  border-radius: 100px;
  background: #fbd202;
  max-width: 225px;
  color:#444;
  font-size: 13px;
  font-family: "roboto", arial;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 40px;
  margin-right: 5px;
  transition:all 1s ease;
}
.btn-2:hover {
  color: #fff;
  background:#3e8e41;
}
.btn-3 {
  border: 1px solid #bfbfbf;
  border-radius: 100px;
  background: none;
  max-width: 225px;
  font-size: 13px;
  font-family: "roboto", arial;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  padding: 25px 42px;
  transition:all 1s ease;
}
.btn-3:hover {
  color: #000;
  background:#EEE;
}
.botoes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* FOOTER */
.footer {
  background: #003158;
  border-top: 4px solid #fbd202;
  padding:60px 0;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.logo-footer {
  margin-bottom: 60px;
}
.info-geral {
  width: 100%;
  display: flex;
  justify-content: space-between
}
.info-footer {
  width: 100%;
  display: flex;
}
.info-footer ul {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info-footer a {
  color: #fff;
  font-size: 14px;
}
.redes-sociais {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}
.redes-sociais p {
  color: #fff;
  font-size: 14px;
}
.info-geral-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 60px;
}
.info-geral-2 p {
  color: #fff;
  width: 730px;
  font-size: 13px;
}
.info-geral-2 a {
  color: #fff;
  font-size: 13px;
}




/* STYLE - PAGE - EVENTOS */
/* HEADER */
.bg-eventos { 
  background: url("../img/eventos/bg-eventos.jpg") no-repeat center;
  background-size: cover;
  height: 270px;
}

/* INTRODUÇÃO */
.intro-eventos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.05);
}
.geral{
  display: flex;
}
.card-eventos {
  width: 68%
}
.card-eventos-2 {
  padding: 40px 0 0 40px;
}
.localizacao {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-top: 10px;
}
.localizacao span, .localizacao p {
  display: flex;
  align-items: center;
  margin:10px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #5f6368;
}
.localizacao span img {
  margin-right: 10px;
}
.card-eventos-2-1 {
  display: flex;
  flex-flow: column nowrap;
  flex-wrap: wrap;
  width: 93%;
  height: auto;
}
.card-eventos-2-1 h1 {
  font-weight: 400;
  font-size: 24px;
  color: #202124;
  text-transform: uppercase;
}
.card-eventos-2-1 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #5f6368;
}
.detalhes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}
.data-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 140px;
  height: 140px;
  border: 1px solid #bfbfbf;
  margin-top: 10px;
}
.data-card span {
  color: #5f6368;
  font-size: 14px;
  margin: 10px 0 20px 0
}
.data {
  padding-top: 10px;
}
.detalhes p {
  background: #3582fb;
  color: #fff;
  width: 140px;
  height: 40px;
  text-align: center;
}
.botao-evento {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 25px;
}
.mapa {
  margin-top: 20px;
}
.mapa iframe {
  width: 100%;
}




/* plugins de slides */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/* ANIMAÇÃO COM SCROLL*/
.anime {
  opacity: 0;
  transform: translate3d(-50px, 0px, 0px)
}
.animar {
  opacity: 1;
  transition: 1s all ease;
  transform: translate3d(0px, 0px, 0px)
}



















